
body {
    font-family: Poppins, sans-serif;
    align-items: center;
    justify-content: center;
    display:flex;
    flex-direction: column;
    
    
}



.Btn {
    background-color: rgb(19, 2, 117);
    color: white;
    margin-bottom: 10px;
    font-family: Poppins, sans-serif;
    width: 25%;
    margin: 10px 10px 10px 10px;
}



.Text{
    margin-bottom: 10px;
    font-family: Poppins, sans-serif;
    width: 25%;
}



